*{
    box-sizing: border-box;
    padding: auto;
    margin: 5px;
}

p{
    padding-bottom: 0.5rem;
}

table{
    width: 15rem;
}

th {
text-align: left;
padding: 0.2rem;
}

table, th, td {
    border: 1px solid #000;
}

td{
    padding: 0.2rem;
}

.survey-form{
    border: 2px solid #000;
    width: 30rem;
    margin: 2rem;
    padding: 1rem;
}
h1{
    padding-bottom: 1rem;
}
