@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: black;
}

header .logo {
  font-weight: 700;
}

nav {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  padding-right: 50%;
  align-items: center;
  background-color: gainsboro;
}

nav a {
  display: block;
  text-decoration: none;
}

.nav-links {
  font-size: 1rem;
  color: black;
  padding: 0.2rem;
}
.nav-links:hover {
  color: orangered;
}

.nav-links-social {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links-social span {
  padding: 0.5rem;
}

.nav-links-social span i {
  cursor: pointer;
}

.nav-links-social span i:hover {
  color: orangered;
  transition: all 0.3s ease;
}

.menu-open {
  font-size: 1rem;
  cursor: pointer;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 0.1rem;
}
.nav-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.text h1 {
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.text p {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 1rem;
}

img {
  width: 40rem;
}

button {
  background: #000;
  color: #fff;
  padding: 0.5rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 25rem;
    padding-bottom: 1rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-close{
    margin-right: 3rem;
    padding: 0;
  }
  .nav-links-social {
    display: flex;
    flex-direction: row;
    width: auto;
  } 
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 30rem;
    padding-bottom: 1rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #nav-close{
    color: #000;
    border:1px solid #000
  }
  .nav-links-social {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
